@import "../../styles/variables.scss";

.stars_container {
  display: flex;
  justify-content: space-between;

  & > * {
    cursor: pointer;
  }

  .star_filled {
    width: $star-size;
    height: $star-size;
    color: $star-filled-color;

    &:active {
      transform: scale(0.8);
    }
  }

  .star_unfilled {
    width: $star-size;
    height: $star-size;
    color: $star-unfilled-color;

    &:active {
      transform: scale(0.8);
    }
  }
}
