//* Colors
$primary-color: #80be5d;
$job-container-color: #eeeeee;
$star-filled-color: rgb(255, 171, 44);
$star-unfilled-color: #bbbbbb;

//* Fonts
@mixin primary-font($weight, $style) {
  font-family: niveau-grotesk, sans-serif;
  font-weight: $weight;
  font-style: $style;
}

//* Font Sizes
$primary-font-size: 1rem;
$label-font-size: 14px;
// Job Accordion
$title-font-size: 24px;

//* General Sizes
$star-size: 30px;
$document-size: 20px;
$border-radius-L: 10px;
$border-radius-S: 5px;

//* Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Labels
@mixin label {
  text-transform: uppercase;
  font-size: $label-font-size;
  margin-bottom: 5px;
}
// Buttons
@mixin button($color) {
  padding: 10px;
  color: white;
  background-color: $color;
  border: none;
  border-radius: $border-radius-S;
  font-size: $primary-font-size;
  cursor: pointer;
  &:hover {
    background-color: darken($color, 10%);
  }
  &:active {
    transform: scale(0.9);
  }
}
