@import "../../styles/variables.scss";

.calendar {
  position: absolute;
  top: 50px;
  right: 0px;

  .popup_calendar {
    font-size: 0.6rem;
    background-color: lighten($job-container-color, 5%);
  }
}
