@import "../../styles/variables.scss";

.time_container {
  display: grid;
  grid-template-columns: 30% 5% auto;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;

  .time {
    margin-right: 10px;
  }

  .name_container {
    display: flex;

    .name {
      margin-right: 10px;
    }

    .trashcan {
      display: none;
      cursor: pointer;

      &:hover {
        fill: $delete-color;
      }

      &:active {
        transform: scale(0.9);
      }
    }

    &:hover .trashcan {
      display: block;
    }
  }
}
