@import "../../styles/variables.scss";

.navbar_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  padding: 10px;
  margin-bottom: 5vh;
  list-style: none;

  a {
    border-radius: 5px;
    text-decoration: none;
  }
}
