@import "../../../styles/variables.scss";

.job_container {
  display: grid;
  grid-template-columns: 25% 4% 25% 20% 10% 12% 4%;
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & > * {
    padding: 7px;
    margin-right: 5px;
    background-color: $job-container-color;
    @include flex-center;

    &:last-child {
      margin: 0;
    }
  }

  &:hover {
    & > * {
      background-color: darken($job-container-color, 5%);
    }
  }

  &:active {
    transform: scale(0.99);
  }

  .logo_container {
    background-color: white;
    // border: 5px black inset;
    box-shadow: inset 0 0 0 5px $job-container-color;
    .logo {
      height: 20px;
    }
  }

  .status {
    &.Applied {
      background-color: $applied-color;
    }
    &.Phone {
      background-color: $phonescreen-color;
    }
    &.Technical {
      background-color: $assessment-color;
    }
    &.Interview {
      background-color: $interview-color;
    }
    &.Offer {
      background-color: $offer-color;
    }
    &.Rejected {
      color: white;
      background-color: $reject-color;
    }
  }
}
