@import "../../styles/variables.scss";

.job_expanded_container {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  margin: 5px 0 5px 0;
  background-color: $job-container-color;

  .left_container {
    display: flex;
    flex-flow: column wrap;
    background-color: darken($job-container-color, 8%);

    .left_top_container {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      .title_container {
        display: flex;
        flex-flow: column wrap;
      }

      .stars_container {
        display: flex;
        flex-flow: column wrap;
      }
    }

    .left_bottom_container {
      display: flex;
      flex-flow: column wrap;
      padding: 20px;

      label {
        text-align: left;
        @include label;
      }

      textarea {
        height: 200px;
        resize: none;
      }
    }
  }
}
